


body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
background-color: #000000;
margin: auto;
height:50px
}

#ulp{
  display:inline-flex;
  padding-left: 0%; 
  margin: 0;
}

#lip{
  display: inline-block; 
  padding-left: 0%; 
  margin: 0; 
}

#ap{
text-decoration:none;
color:inherit;
font-size:110%;
 list-style-type: none;
 color:#ffffff;
 display:block;
 padding-left: 40%;
 

}

#ap:hover {
  background-color: #ffffff;
  color: #000000;
  transition:2.5s;
}

nav p{
  color:#ffffff;
  display:inline-flex;
  padding-left: 60%;
  font-size:110%
}

ul ul {
  display:none;
}

ul li:hover > ul {
  display:block;    
}

.ul-not{
  background-color: #000000
}

.lis{
  padding: 7px 10px; 
}

.as{
  text-decoration: none;
  color: #ffffff;
}

.lis .as:hover {
  background-color: #ffffff;
  color: #000000;
  transition:2.5s;
}

article{

}

h1{
  font-size:70px;

  
}

h2{

  width:500px;
}

.pa{

  width:500px;
}

.imaa{
  width: 180px;

}

