body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
background-color: #000000;
margin: 0;
}

nav ul{
  display:inline-flex;
  padding-left: 0%; 
  margin: 0;
}

nav li{
  display: inline-block; 
  padding-left: 0%; 
  margin: 0; 
}

nav a{
text-decoration:none;
color:inherit;
font-size:110%;
 list-style-type: none;
 color:#ffffff;
 display: inline-block;
 padding-left: 10%;

}
.Sobre{
  padding:20px
}

#sobre{
  padding:20px
}

a:hover {
  background-color: #ffffff;
  color: #000000;
  transition:2.5s;
}

nav p{
  color:#ffffff;
  display:inline-flex;
  padding-left: 60%;
  font-size:110%
}
